<!DOCTYPE html>
<html>
	<head>
      <title>Socket.io Demo</title>
      <meta charset="utf-8">
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
    <h1>Survey</h1>	 
    <h2 id='usernameWitness'></h2>
		<div>
			<label for="username">Username</label>
			<input type="text" name="username" id="username">
		</div>
			<button onclick="register()">Enregistrer</button>
			<a href="<%= link %>" class="btn btn-primary" role="button">Let's play</a>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>